* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Average Sans', sans-serif;
	color: #444;
}

body {
	background: #fff;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab';
	margin-bottom: 5px;
}

a {
	color: #03A9F4;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

img.flag {
	width: 20px;
	height: 20px;
}

.text-right {
	text-align: right;
}

.scroll-container {
	height: 500vh;
	position: relative;
}

.card {
	position: fixed;
	top: 10%;
	left: 50%;
	width: 100%;
	max-width: 600px;
	height: 100%;
	transform: translateX(-50%);
	border-radius: 20px;
	display: flex;
	padding: 20px;
	box-shadow: 0 20px 30px #ecebef;
	transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-content {
	color: black;
	padding: 5px;
	z-index: 2;
	position: relative;
	width: 100%;
	/* Ensure full width */
}

.card-content h1 {
	font-size: 3rem;
	margin-bottom: 30px;
	font-weight: 300;
	letter-spacing: 2px;
}

.card-content,
.card-content p {
	font-size: 1.25rem;
	line-height: 1.6;
	opacity: 1;
}

.card-content ul {
	padding: 0;
}

.card-content ul li {
	list-style: none;
	padding: 5px 0;
}

.card-content ul li a {
	text-decoration: none;
}

.card-1 {
	z-index: 1;
}

.card-2 {
	z-index: 2;
}

table.skills {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	table-layout: fixed;
}

table.skills td {
	padding: 4px 0;
}

table.skills td:first-child {
	width: 75%;
}

table.skills td:last-child {
	width: 25%;
	text-align: right;
}

table.skills td i.icon-star {
	color: #FF9B00;
}

.card-3 {
	z-index: 3;
}

.experience td,
.projects td {
	font-size: 1rem;
}

.projects td,
.extras td {
	padding-bottom: 10px;
}

.experience td {
	display: block;
}

.card-4 {
	z-index: 4;
}

.card-5 {
	z-index: 5;
}

.card-6 {
	z-index: 6;
}

.card.visible {
	transform: translateX(-50%) translateY(0);
	opacity: 1;
}

.card.coming {
	transform: translateX(-50%) translateY(100vh);
}

.card.covering {
	transform: translateX(-50%) translateY(0);
	opacity: 1;
}

.card.covered {
	transform: translateX(-50%) translateY(0);
}

.progress {
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 25px;
	z-index: 100;
	padding: 5px;
}

.progress-dot {
	position: relative;
	width: 100px;
	height: 30px;
	overflow: hidden;
	text-align: center;
	line-height: 30px;
	transform: scale(1.5);
}

.progress-dot.next span {
	color: #9e9b9b;
}

.progress-dot span {
	position: absolute;
	width: 100%;
	left: 0;
	transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.footer {
	padding: 50px 5px 10px;
	position: absolute;
	bottom: 100px;
	text-align: center;
}

.slide-in {
	transform: translateX(100%);
	opacity: 0;
}

.slide-in.active {
	transform: translateX(0);
	opacity: 1;
}

.slide-out {
	transform: translateX(0);
	opacity: 1;
}

.slide-out.active {
	transform: translateX(-100%);
	opacity: 0;
}

@media (max-width: 768px) {
	.card {
		width: 100%;
	}

	.card-content h1 {
		font-size: 2.2rem;
	}

	.card-content,
	.card-content p {
		font-size: 1rem;
	}

	table.skills td {
		padding: 2px 0;
	}
}